.container {
  margin-left: auto;
  margin-right: auto;
}

.navbar-brand {
  font-family: 'Comfortaa', cursive;
  color: #0b3861;
  padding-top: 20px;
  font-size: 30px;
}

.navbar-nav {
  font-family: 'Comfortaa', cursive;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 25px;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 10px;
}

.dropdown-menu>li>a {
  font-family: 'Comfortaa', cursive;
  color: #0b3861;
  font-size: 20px;
}

.fa-home {
  color: #0b3861;
}

.fa-camera {
  color: #0b3861;
}

.fa-envelope-o {
  color: #0b3861;
}

hr {
  margin-top: -20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 2px solid #0b3861;
}

.nav-link {
  color: #0b3861;
  font-size: 20px;
}

h1 {
  font-family: 'Nixie One', cursive;
  color: black;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 75px;
  margin-top: 50px;
  margin-bottom: 50px;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: black;
  font-size: 20px;
  background-color: rgba(127, 179, 232, 0.5);
  border-radius: 6px;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: black;
  font-size: 20px;
  text-align: center;
}

.buttons {
  text-align: center;
}

.btn-default {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #0b3861;
  font-size: 20px;
  color: white;
}

.PrvImg {
  border: 1px solid;
  border-color: black;
  border-radius: 3px;
}

.portfolio-item {
  padding-top: 15px;
  padding-bottom: 15px;
}

.form-control {
  height: 57px;
  font-size: 17px;
}

textarea.form-control {
    height: 201px;
}
