body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  background-image: url(linedpaper.png);
  background-repeat: repeat;
}
#wrapper {
  width: 960px;
  margin: 30px auto 40px auto;
}

#pictures {
  width: 240px;
}

h1 {
  color: blanchedalmond;
  font-size: 80px;
}

h4 {
  color: #1719c7;
  font-size: 36px;
}

#summary {
  color: red;
  font-size: 24;
  font-family: Pacifico;
}

.Exp-and-Skills {
  color: burlywood;
  font-family: monospace;
}
