.container {
  margin-left: auto;
  margin-right: auto;
}

.navbar-brand {
  font-family: 'Comfortaa', cursive;
  color: #0b3861;
  font-size: 30px;
}

.navbar-nav {
  font-family: 'Comfortaa', cursive;
  padding-left: 30px;
  padding-right: 30px;
}

.dropdown-menu>li>a {
  font-family: 'Comfortaa', cursive;
  color: #0b3861;
  font-size: 15px;
}

.fa-home {
  color: #0b3861;
}

.fa-camera {
  color: #0b3861;
}

.fa-envelope-o {
  color: #0b3861;
}

body {
  background-image: url(https://raw.githubusercontent.com/rly4607/rly4607.github.io/master/Images/IMG_0288.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: top center;
  background-size: cover;
  text-align: center;
}

hr {
  margin-top: -20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 2px solid #0b3861;
}

.nav-link {
  color: #0b3861;
  font-size: 20px;
}

.intro-text {
  font-family: 'Nixie One', cursive;
  color: black;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 75px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.body-text {
  font-family: 'Nixie One', cursive;
  color: black;
  font-size: 20px;
  font-weight: bold;
  margin-left: 100px;
  margin-right: 100px;
  background-color: rgba(255, 255, 255, 0.35);
  text-align: left;
  border-radius: 6px;
}

.buttons {
  text-align: center;
}

.btn-default {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 25px;
  margin-right: 25px;
  background-color: #0b3861;
  font-size: 20px;
  color: white;
}

.PrvImg {
  border: 1px solid;
  border-color: black;
  border-radius: 3px;
}

.row {
  padding-top: 10px;
  padding-bottom: 10px;
}

.Gallery {
  text-align: center;
  position: relative;
}

.col-sm-2 {
  background-color: black;
}
