body {
  background-image: url(https://raw.githubusercontent.com/rly4607/rly4607.github.io/master/Images/IMG_0288.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: top center;
  background-size: cover;
  text-align: center;
}
